  {% extends "layout.html" %} {% block content %}
  <div class="content-wrapper">
    <div class="content-wrapper">
      <h1>МКТУ</h1>

      <!-- Блок на русском -->
      <div class="instructions">
        <p>
          МКТУ (Международная классификация товаров и услуг) — это система классификации, используемая
          для регистрации товарных знаков. Она была учреждена Ниццким соглашением и предназначена для
          упрощения процесса регистрации и поиска товарных знаков.
        </p>
      </div>

      <!-- Блок на кыргызском -->
      <div class="instructions">
        <p>
          МКТУ (Товарлар жана кызмат көрсөтүүлөрдүн эл аралык классификациясы) — бул товардык
          белгилерди каттоо үчүн колдонулган классификация системасы. Ал Ницца келишими менен түзүлгөн
          жана товардык белгилерди каттоо жана издөө процессин жеңилдетүүгө арналган.
        </p>
      </div>

      <!-- Блок на английском -->
      <div class="instructions">
        <p>
          NCL (Nice Classification – International Classification of Goods and Services) is a
          classification system used for trademark registration. It was established by the Nice
          Agreement and is intended to simplify the process of trademark registration and search.
        </p>
      </div>
    </div>

    {% endblock %}
  </div>
  <script src="/static/js/class_detail.js"></script>
  <script src="/static/js/scripts.js"></script>